<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="RelativityBaseURI" value="https://p-dv-vm-ij1ps8v.kcura.corp/" />
      <add key="RelativityUserName" value="relativity.admin@kcura.com" />
      <add key="RelativityPassword" value="" />
      <add key="WorkspaceId" value="1017273"/>
      <add key="ExportFolder" value="S:\Data\ExportApi"/>
      <add key="ThreadCount" value="4"/>
      <add key="IgnoreText" value="false"/>
    </appSettings>
</configuration>