<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="RelativityBaseURI" value="http://relativitydevvm.mshome.net/Relativity.REST/api" />
      <add key="RelativityUserName" value="relativity.admin@relativity.com" />
      <add key="RelativityPassword" value="" />
      <add key="WorkspaceId" value="1017273"/>
      <add key="ExportFolder" value="C:\Data\ExportApi"/>
      <add key="ThreadCount" value="4"/>
    </appSettings>
</configuration>
