<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Kepler" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.109.11" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.109.11" targetFramework="net462" />
</packages>